*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
libs/
src/main/res/drawable/
build/
src/main/res/drawable-hdpi/
src/main/res/drawable-mdpi/
src/main/res/drawable-xhdpi/
src/main/res/drawable-xxhdpi/
src/main/res/drawable-xxxhdpi/
